@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.eot');
    src: url('../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Bold.eot');
    src: url('../assets/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Oswald-Bold.woff2') format('woff2'),
        url('../assets/fonts/Oswald-Bold.woff') format('woff'),
        url('../assets/fonts/Oswald-Bold.ttf') format('truetype'),
        url('../assets/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.eot');
    src: url('../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Regular.woff') format('woff'),
        url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Regular.eot');
    src: url('../assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Oswald-Regular.woff2') format('woff2'),
        url('../assets/fonts/Oswald-Regular.woff') format('woff'),
        url('../assets/fonts/Oswald-Regular.ttf') format('truetype'),
        url('../assets/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Light.eot');
    src: url('../assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Light.woff') format('woff'),
        url('../assets/fonts/Roboto-Light.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

%sans-serif,
.sans-serif {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: normal;
	font-style: normal;
}

%heading-font,
.heading-font {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-style: normal;
}

@import "copy";

/*
 * Custom Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1,
.h1 {
	text-transform: uppercase;
	font-size: 3.125em;
	@extend %heading-font;
}

h2,
.h2 {
	text-transform: uppercase;
	font-size: 2.85em;
	@extend %heading-font;
}

h3,
.h3 {
	text-transform: uppercase;
	font-size: 2.5em;
	@extend %heading-font;
}

h4,
.h4 {
	text-transform: uppercase;
	font-size: 2.15em;
	@extend %heading-font;
}

h5,
.h5 {
	font-size: 2.85em;
}

h6,
.h6 {
	text-transform: uppercase;
	font-size: 1.125em;
	@extend %heading-font;
}

p {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

.light {
  font-weight: 300;
}
