.ddd-splash {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $white;
  z-index: 0;

  &::before {
    content: '';
    display: block;
    min-height: 100vh;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.5);
    z-index: -1;
  }

  .ddd-splash__title {
    margin: 0 0 0.15em;
  }

  .ddd-splash__subtitle {
    font-weight: 300;
  }
}
